<ion-card>
  <ion-card-header>
    <ion-card-title>Nueva Tarea</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input [(ngModel)]="task.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="task.description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime [(ngModel)]="task.date"></ion-datetime>
    </ion-item>
    <ion-button expand="full" (click)="onSubmit()">Agregar</ion-button>
  </ion-card-content>
</ion-card>
